Repository solid-design-system/solid, pull requests merged in 2024-01, with the labels that each got.

#679 fix: change gradients
  packages/tokens/src/tokens.json
Labels: 🔧 code

#677 feat: ✨ add sd-list (CSS style)
  packages/components/src/solid-styles.css
  packages/components/src/styles/list/list.css
  packages/components/src/styles/list/list.declaration.ts
  packages/components/src/styles/list/list.stories.ts
Labels: components, 🔧 code, CL-migration

#668 feat: ✨ add sd-dialog
  packages/components/.storybook/preview-head.html
  packages/components/src/_components/dialog/dialog.stories.ts
  packages/components/src/_components/dialog/dialog.styles.ts
  packages/components/src/components/dialog/dialog.stories.ts
  packages/components/src/components/dialog/dialog.test.ts
  packages/components/src/components/dialog/dialog.ts
  packages/components/src/docs/Migration/ui-dialog.mdx
Labels: 🔧 code, CL-migration
